html {
    background: url(../img/catedral_toledo_wide.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: auto;
}

.body{
    overflow: auto;
}

.page {
    margin: 5rem 5rem 5rem 5rem;
    background-color: rgba(250, 250, 250, .5);
    padding-bottom: 5rem;
}

.header1 {
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem 0 1.5rem 0;
}

.header2 {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.75rem 0 0.75rem 0;
}


.button-grid {
    text-align: center;
    margin: 1rem;
}

a.button-link {
    text-decoration: none;
    color: white;
    margin: 0.5rem;
}

.grid-button {
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    padding-top: 1.25rem;
    height: 2.5rem;
}

.register-button{
    background-color: #2471A3;
}

.access-button{
    background-color: #7D3C98;
}

.leaderboard-button{
    background-color: #28B463;
}

.validate-button{
    background-color: indianred;
}

.normal{
    font-size: 1rem;
    margin: 2.5rem 2rem 2.5rem 2rem;
}

@media (max-width: 1080px) {
    html {
        background: url(../img/catedral_toledo_narrow.jpg) no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }
}